@import "tailwindcss";

@theme {
  --spacing-18: 4.5rem;
}

@layer base {

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

.perspective-container {
  perspective: 2000px;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}